.form-buttons,
.guess,
.clear {
  justify-content: space-between;
}

.form-buttons,
.reset {
  display: flex;
  margin: 30px auto;
}

button {
  background-color: #929497;
  border-radius: 15px;
  border-style: none;
  color: #FFF;
}

button:hover {
  background-color: #EB008B;
}

button:disabled {
  background-color: #D0D2D3;
}

.guess,
.clear {
  padding: 3px 0;
}

.form-buttons,
.guess,
.clear,
.reset {
  width: 45%;
  font-size: 17px;
}

.reset {
  align-items: center;
  justify-content: center;
}

.kid-version {
  display: flex;
  margin: 0 auto;
  padding: 6px 10px;
}

@media only screen and (max-width: 350px)  {
  .form-buttons,
  .guess,
  .clear,
  .reset {
    width: 45%;
    font-size: 14px;
  }
}
