form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-guess {
  margin-top: 30px;
  width: 45%;
  border: 1px solid #D0D2D3;
  padding: 3px;
  font-size: 17px;
  color: #ED458B;
  font-weight: 700;
}

input::-webkit-input-placeholder {
  color: #D0D2D3;
  font-weight: 300;
}
