.last-guess-area,
.hint {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.last-guess-area {
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
}

.last-guess {
  margin: -15px 0;
  color: #EB008B;
  font-size: 130px;
  font-weight: 300;
}

@media only screen and (max-width: 334px)  {
  .last-guess {
    font-size: 120px;
  }
}
