@import url('header.css');
@import url('form.css');
@import url('buttons.css');
@import url('guess.css');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1 {
  color: #ED458B;
}

h3 {
  color: #404041;
  font-weight: 300;
  margin: 0 2px;
}
