@import url('header.css');
@import url('form.css');
@import url('buttons.css');
@import url('guess.css');
@import url('notification.css');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #ED458B;
}

h3 {
  margin: 0 2px;
  color: #404041;
  font-weight: 300;
}

h4 {
  text-align: center;
  margin: 15px 0 -10px 0;
  font-weight: 300;
}

@media only screen and (max-width: 350px)  {
  h1 {
    font-size: 27px;
  }

  h3 {
    font-size: 15px;
  }
}
